# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Data folders (adjust if needed later)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Streamlit
.streamlit/


# External raw datasets (do not commit)
data/raw/external/
